    // colores de background gradientes
    $bg-gradiente-cartas-uno: linear-gradient(90deg, rgba(28,76,150,1) 17%, rgba(96,126,201,1) 84%, rgba(0,255,255,1) 100%);
    $bg-celeste-azul: (linear-gradient( to left, #1c4c96, #607ec9, #00ffff));
    $bg-violeta-azul: linear-gradient(90deg, rgba(203,14,211,1) 17%, rgba(96,126,201,1) 88%, rgba(28,76,150,1) 100%);
    $bg-azul-oscuro: (linear-gradient( to left, #000035, #062863, #1c4c96));
    $bg-violeta-celeste-trans: (linear-gradient(90deg, #3b003e, #90017a, #90017a));
    $bg-celeste-violeta-trans: (linear-gradient(90deg, #020024, #020298, #0010b1));
    // resto de colores
    $violeta: (#cb0ed3); 
    $violeta-claro: (#ea33f2);
    $celeste: (#00ffff);
    $azul-negro: (#000035);
    $azul-oscuro: (#062863);
    $azul-indigo: (#1c4c96);
    $azul-claro: (#607ec9);


    /////////// border /////////
    $border-card: (solid black);

    ////////// fonts //////////
    $mobile-fontsize: (.75rem);
    $base-fontsize: (1rem);
    $principal-font: (font-family 'Montserrat', sans-serif);
    $portada-fontsize: (4rem);
    $secciones-fontsize: (2.5rem);
    $secciones-mobile-fontsize: (2rem);
    $titulos-cartas-fontsize: (1.5rem);



