.background {
    background: $bg-celeste-azul;
}
.background--dos {
    background: $bg-violeta-azul;
}
.background--tres {
    background: $bg-azul-oscuro;
}
.background--cuatro {
    background: $bg-violeta-celeste-trans;
}
.background--cuatro--alt {
    background: $bg-celeste-violeta-trans;
}

