.zoom {
  transition: transform 0.2s;
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #cb0ed3;
}

.titulo-destacado {
  color: #cb0ed3;
}

.titulo-destacado-alt {
  color: #00ffff;
}

.nota-elecciones {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: black;
}

p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: black;
}

.p-card {
  color: white;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (min-width: 320px) {
  h1 {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
}
@media only screen and (min-width: 700px) {
  h1 {
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
}
@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
}

h2 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
}
@media only screen and (min-width: 320px) {
  h2 {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
}

h3 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
}
@media only screen and (min-width: 320px) {
  h3 {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
  }
}

h4 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.boton {
  background-color: #000035;
  border-style: none;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: solid #1c4c96;
}
.boton:hover {
  background-color: #00ffff;
  color: black;
  border-style: none;
  border: solid #ea33f2;
}

.boton--dos {
  background-color: #000035;
  border-style: none;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: solid #1c4c96;
}
.boton--dos:hover {
  background-color: #cb0ed3;
  color: white;
  border-style: none;
  border: solid #607ec9;
}

.carta-proximas-elecciones {
  width: 250px;
  height: 250px;
  box-shadow: 5rem;
  border: solid black;
  border-radius: 1rem;
}
.carta-proximas-elecciones .titulo {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: font-family "Montserrat", sans-serif;
}
.carta-proximas-elecciones .titulo:hover {
  color: #cb0ed3;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.carta-proximas-elecciones-alt {
  width: 250px;
  height: 250px;
  border: solid black;
  border-radius: 1rem;
}
.carta-proximas-elecciones-alt .titulo-destacado-alt {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: font-family "Montserrat", sans-serif;
}
.carta-proximas-elecciones-alt .titulo-destacado-alt:hover {
  color: #00ffff;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

@media only screen and (min-width: 320px) {
  .carta-elecciones {
    width: 98%;
  }
}
@media only screen and (min-width: 1000px) {
  .carta-elecciones {
    width: 40%;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 320px) {
  .card-form {
    width: 90%;
  }
}
@media only screen and (min-width: 700px) {
  .card-form {
    width: 75%;
  }
}

.navbar {
  padding: 5vh;
}

.nav-link {
  color: #1c4c96;
  font-weight: 600;
}
.nav-link:hover {
  color: #cb0ed3;
}

.texto-logo {
  font-weight: 600;
  font-family: "sarawi ghotic";
  font-size: 1.5rem;
}

.texto-footer {
  color: white;
  font-family: font-family "Montserrat", sans-serif;
  font-size: 1rem;
}

@media only screen and (min-width: 320px) {
  .copyright {
    align-items: center;
  }
}
@media only screen and (min-width: 700px) {
  .copyright {
    align-items: start;
  }
}

@media only screen and (min-width: 320px) {
  .titulo-footer {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .titulo-footer {
    display: flex;
  }
}

.a-footer {
  color: white;
}
.a-footer:hover {
  color: #00ffff;
}

ul {
  list-style: none;
}
@media only screen and (min-width: 320px) {
  ul {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  ul {
    display: list-item;
  }
}
ul li {
  display: flex;
}
ul a {
  font-family: font-family "Montserrat", sans-serif;
  font-size: 1rem;
  color: white;
}
ul a:hover {
  color: #00ffff;
}

.bi {
  color: white;
}
.bi:hover {
  color: #00ffff;
}

.background {
  background: linear-gradient(to left, #1c4c96, #607ec9, #00ffff);
}

.background--dos {
  background: linear-gradient(to left, #1c4c96, #607ec9, #cb0ed3);
}

.background--tres {
  background: linear-gradient(to left, #000035, #062863, #1c4c96);
}

.background--cuatro {
  background: linear-gradient(to left, rgba(0, 255, 255, 0.4901960784), rgba(96, 126, 201, 0.3803921569), #cb0ed3);
}

.background--cuatro--alt {
  background: linear-gradient(to right, rgba(0, 255, 255, 0.4901960784), rgba(96, 126, 201, 0.3803921569), #cb0ed3);
}

/*# sourceMappingURL=styles.css.map */
